@import "http://fonts.googleapis.com/css?family=Droid+Serif";

main {
    width:960px;
    height:100vh;
    margin:50px auto;
    font-family:'Droid Serif',serif
}

section {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    max-width:380px;
    max-height:400px;
}

.grid-child-first {
    grid-row-start: 1;
    align-self: self-end;
    justify-self:center;
}

.grid-child-second {
    grid-row-start: 2;
    grid-row-end: 3;
}

.last {
    grid-row-end: 4;
}

span {
    color:red;
    margin-left:65px
}

form {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.form-controls {
    display: grid;
}

input {
    width:100%;
    padding:8px;
    margin-top:10px;
    font-size:16px;
    margin-bottom:25px;
    box-shadow:0 0 5px;
    border:none;
    border-radius: 3px;
    cursor: text;
}

#btn {
    width:100%;
    padding:8px;
    margin: 0 auto;
    background-color:#474242;
    cursor:pointer;
    color:#fff;
    border:2px solid #adadad;
    border-radius: 2px;
    font-size:18px;
    font-weight:700;
    font-family:'Droid Serif',serif;
    align-self: center;
    justify-self: center;
}

#btn:hover {
    background-color:#adadad;
    border:2px solid #474242
}